<body class="container">
<div class="{{apis.cssKeyword}}filter_header">
    <p class="show-center">Patient-Doctor Appointments</p>
    <div class="{{apis.cssKeyword}}filter_select">
        <select>
            <option value="">Ages</option>
            <option value="Below 3">Below 3</option>
            <option value="Above 3">Above 3</option>
            <option value="Above 5">Above 5</option>
            <option value="Above 10">Above 10</option>
            <option value="Above 20">Above 20</option>
            <option value="Above 30">Above 30</option>
            <option value="Above 40">Above 40</option>
            <option value="Above 50">Above 50</option>
            <option value="Above 60">Above 60</option>
            <option value="Above 70">Above 70</option>
            <option value="Above 80">Above 80</option>
        </select>
        <select>
            <option value="">Months</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <button>
            <strong>Filter</strong>
        </button>
    </div>
</div>
</body>