<body class="container">
    <div class="{{apis.cssKeyword}}listing_tabs_header_div">
        <li class="{{apis.cssKeyword}}listing_tabs_header_div_left_li">
            <a href="#">
                <strong>Yesterday's All</strong>
            </a>
        </li>
        <li class="{{apis.cssKeyword}}listing_tabs_header_div_center_li">
            <a href="#">
              <strong>  Today's Old </strong>
             </a>
        </li>
        <li class="{{apis.cssKeyword}}listing_tabs_header_div_center_li">
            <a href="#">
                <strong>Today's Current </strong>
            </a>
        </li>
        <li class="{{apis.cssKeyword}}listing_tabs_header_div_center_li">
            <a href="#">
                <strong>Today's UpCome </strong>
            </a>
        </li>
        <li class="{{apis.cssKeyword}}listing_tabs_header_div_right_li">
            <a href="#">
                <strong>Tomorrow's All </strong>
            </a>
        </li>
    </div>
</body>